extends layout

include mixins/_companyCard
include mixins/_pagination

block content
  .inner
    .front-header
      .front-header__container
        h1 
          | Рейтинг
          strong  Bittrust.ru - 
          | Все Компании, которые 
          strong Продают, 
          strong Обслуживают 
          |и Управляют Оборудованием для Майнинга.
    ul.tags
      each t in tagsEng
        li.tag
          a.tag__link(href=`/tags/${(t.slg)}`)
            span.tag__text= t._id
            span.tag__count= t.count
    .companies
      each company in companies
        +companyCard(company)
    +pagination(page, pages)
