extends layout

include mixins/_companyCard
include mixins/_pagination

block content
  .inner
    .front-header
      .front-header__container
        h1 
          strong Рейтинг 
          | Компаний, которые 
          strong Продают, 
          strong Обслуживают 
          |и Управляют Оборудованием для Майнинга.
    .companies
      each company in companies
        +companyCard(company)
    +pagination(page, pages, count)
