extends layout

block meta
    meta(charset="UTF-8")
    title= `Компания Bittrust.ru - Контакты | ${h.siteName}`
    meta(name="description" content="Контакты компании Bittrust.ru. Используйте адрес электронной почты, чтобы связаться с нами в любое время.")
    link(rel="canonical" href=`https://bittrust.ru/contacts`)
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/btc.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
block content
    .inner
        .front-header
            h1 #{title}
        .front-header
            address   <strong>Адрес:</strong> 119334, Москва, Ленинский пр-кт, 30А
            p <strong>Время работы:</strong> Понедельник - Пятница с 10:00 до 18:00 
            p Все вопросы отправляйте на адрес: 
                a(href="mailto:vmouravi@yandex.ru") vmouravi@yandex.ru
        .front-header
            script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Affc15ed49f9a8edd808cda943926c7cde0d958b68fe409e7c0cf93396e4cbad9&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true")

            



           
