extends layout

block meta
    meta(charset="UTF-8")
    title= `Майнинг криптовалют в 2018 году: методы и перспективы | ${h.siteName}`
    meta(name="description" content="Как майнить криптовалюту в 2018 году – современное оборудование, новые валюты, облачный майнинг и налогообложение.")
    link(rel="canonical" href=`https://bittrust.ru/mining-2018`)
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/btc.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
block content
    .inner
        main
            article.entry
                header.entry-header
                    h1 Майнинг Криптовалют в 2018 году: Методы и Перспективы
                    p.entry-meta
                        - const postDate = h.moment.locale("ru")
                        span.entry-time= `Опубликовано: ${h.moment(1523719514760).format("LL")}`
                .entry-content
                    p Около 6 лет назад, большую часть криптовалют можно было добывать, используя <strong>недорогую</strong> графическую карту на домашнем компьютере. Многие с ностальгией вспоминают времена, когда биткойны майнились на 4-x Пентиумах. 
                    img(src="https://res.cloudinary.com/dlmeqtsfq/image/upload/c_scale,h_520,q_auto,w_900/v1523776268/mining-2018-900_juvqje.jpg" alt="майнинг криптовалюты 2018")
                    p С тех пор ситуация кардинально поменялась, благодаря постоянно <strong>увеличивающейся</strong> сложности добычи и появлению мощных Асик майнеров. 
                    p Одни методы майнинга устаревают, другие – обретают эффективность. Мы расскажем вам о самых современных и самых выгодных методах на <strong>сегодняшний</strong> день. 
                    h2
                        strong Видеокарты для майнинга
                    p Видеокарты всегда были одним из самых популярных и доступных способов майнинга криптовалют. <strong>Огромное</strong> количество ферм в России и за рубежом строилось на базе видеокарт производства AMD (Radeon RX480) и Nvidia (модель GeForce GTX 1060, а также GTX 1070). Популярность этих карт вылилась в стремительный взлет акций AMD и Nvidia.
                    p Сегодня <strong>более 6%</strong> оборота Nvidia составляет продажа видеокарт для майнинга. Немудрено, что корпорация делает ставку на расширение линейки именно этих девайсов. 
                    p Компания Asus, также, не желая отставать от своих конкурентов, представила на рынке мощные видеокарты MINING-P106-6G и MINING-RX470-4G.
                    p По словам экспертов из Morgan Stanley, производителям техники стоит учесть тот факт, что майнинг в 2018 году, скорее всего, станет <strong>менее</strong> выгодным занятием. 
                    p Возьмем, к примеру, криптовалюту <strong>Эфириум</strong>. Несмотря на то, что уровень капитализации “Эфира” находится на 2-м месте после Биткойна, <strong>удивительно</strong>, что его все еще можно добывать, используя видеокарты. В прошлом году цена эфира выросла более чем в 100 раз!
                    p В 2018 году события обещают быть <strong>менее</strong> позитивными из-за 2-х грядущих изменений в сети Эфириум:
                    ul
                        li Понижение майнерских вознаграждений (с 5-ти до 3-х эфиров)
                        li Замена алгоритма консенсуса PoW на PoS
                    p Последнее означает, что для добычи эфириума видеокарты просто <strong>не будут нужны</strong>. Размер вознаграждения пользователя будет напрямую зависеть от баланса майнера (а не от мощности девайсов). 
                    p Другими словами, сеть Эфириум планирует создать такую систему добычи криптовалюты, при которой новые блоки можно будет создавать не с помощью мощностей оборудования, а за счёт хранения средств на балансе пользователя. Во время транзакций эти средства будут замораживаться.   
                    p Хуан Жэньсюнь, основатель компании <strong>Nvidia</strong>, более позитивно комментирует будущее видеокарт. Он отмечает, что спрос на мощные видеокарты будет <strong>сохраняться</strong>, ведь помимо эфира есть и другие криптовалюты. К тому же со временем будут появляться всё новые разновидности этой цифровой валюты. 
                    h2
                        strong Какие вылюты добывать с помощью Видео Карт в 2018 году?
                    p Действительно, есть целый ряд так называемых <strong>альткойнов</strong>, которые можно успешно добывать с помощью видеокарт. Даже в 2018 году!
                    p Эти альтернативные монеты включают как <strong>старые</strong> валюты, использующие протокол CryptoNote, так и более <strong>молодые</strong> валюты, запущенные в последние несколько лет. 
                    p Давайте перечислим, пожалуй, <strong>самые</strong> актуальные из них:
                    ol 
                        li <strong>Bytecoin (BCN)</strong>
                            ul
                                li Курс валюты вырос на ошеломляющие 5600% в 2017 году!
                                li Использует протокол CryptoNote
                                li Официальный блог валюты рекомендует программу <a href="https://github.com/xmrig/xmrig/releases">Xmrig</a> для эффективного майнинга на компьютере
                                li Доступны 3 версии Xmrig: для майнинга на CPU, для майнинга с использованием карт AMD и для майнинга на картах Nvidia
                        li <strong>Monero (XMR)</strong>
                            ul 
                                li За последние месяцы 2017 – начала 2018 года курс Monero вырос на 200%!
                                li Использует протокол CryptoNote
                                li Рекомендуемый софт для майнинга <a href="https://github.com/jwinterm/monerospelunker/releases">MoneroSpelunker</a>
                        li <strong>Electroneum (ETN)</strong>
                            ul
                                li Достаточно новая криптовалюта, которая была запущена в Сентябре 2017 года.
                                li Также  использует протокол CryptoNote
                                li Главная фишка в том, что Electroneum можно майнить прямо на смартфоне! Для этого нужно просто скачать приложение <a href="https://play.google.com/store/apps/details?id=com.electroneum.mobile">ETN Mobile Miner в Google Play Store</a>
                                li Для более традиционного майнинга с использованием видео карт используется софт под названием <a href="https://github.com/fireice-uk/xmr-stak">XMR-STAK 2.2</a>
                        li <strong>Zencash (ZEN)</strong>
                            ul
                                li В последний квартал 2017 года курс валюты подскочил на целые 800%!
                                li Zencash отлично майнится с использованием CPU или GPU карт.
                                ul
                                    li Для майнинга на компьютере с установленным Windows используйте программу <a href="https://github.com/nicehash/nheqminer/releases">Nicehash</a>
                                    li Для майнинга с помощью карты AMD подойдет софт под названием <a href="https://bitcointalk.org/index.php?topic=1670733.0">Claymore‘s ZCash GPU Miner </a>
                                    li Если собираетесь использовать видеокарту Nvidia, то лучше скачать <a href="https://bitcointalk.org/index.php?topic=1707546.0">EWBF's Zcash cuda miner</a>
                    p Данный список можно дополнить и рядом других альтернативных монет, которые также можно добывать на компьютере. Например, fantomCoin (FCN), quazarCoin (QCN), dashcoin (DSH) и digitalNote (XDN). 
                    h2
                        strong ASIC майнеры
                    p ASIC – ещё одно эффективное средство майнинга. ASIC-майнеры представляют собой <strong>готовые</strong> решения, использующие компактные чипы. Данные чипы заточены на выполнение конкретных функций, что ускоряет процесс добычи и делает его дешевле.
                    p У асик-чипов есть 3 важных <strong>преимущества</strong> перед видеокартами: 
                    ul
                        li Выдача большей мощности
                        li Меньшие расходы на электричество
                        li Отсутствие необходимости в сборке
                    p Китайская компания <strong>Bitmain</strong> – производитель ряда супер популярных моделей асик майнеров на базе серии Antminer. В январе 2018 года компания представила новый <strong>Antminer A3</strong> для алгоритма Blake(2b) и <strong>Antminer T9</strong> на базе алгоритма SHA-256. Позже была анонсирована модель <strong>Antminer V9</strong>.
                    p Рынок ASIC-чипов не стоит на месте. Если современные майнеры базируются  на 14-нм или 16-нм микросхемах, то вскоре мы увидим устройства, использующие <strong>7-нанометровые</strong> чипы (асики нового поколения). 
                    p 4 крупнейших компании (TSMC, GlobalFoundries, Intel и Samsung) уже приступили к созданию ASIC-систем с техпроцессом <strong>7 нм</strong>. Эти системы станут более энергоэффективными, чем 14 нм чипы. Серийное производство 7 нм чипов запланировано на 2018 год.
                    p Российские майнинговые компании не отстают от зарубежных конкурентов. На недавнем ICO, холдинг RMC (Russian Mining Center) смог привлечь 42 млн долларов для разработки супер-мощных отечественных ASIC-майнеров:  
                    ul
                        li Sunrise (на биткоин-процессоре Bitfury)
                        li Мультиклет (на базе одноимённого чипа)
                    p В ближайшие полгода RMC собирается продолжить <strong>тестирование</strong> своего процессора Multiclet. Этот уникальный чип, использует “мультиклеточную” архитектуру. Сообщается, что его мощность превысит показатели традиционных видеокарт в 35 раз! 
                    h2
                        strong Облачный Майнинг
                    p Облачный майнинг (cloud mining) – технология, созданная в противовес дорогостоящим методам добычи криптоденег. 
                    p Суть этой технологии в том, что компании с собственными дата-центрами предоставляют свои вычислительные мощности <strong>в аренду</strong> индивидуальным майнерам криптовалют по всему миру. 
                    p Крупные игроки рынка, такие как <a href="https://oxbtc.com/">OxBtc</a>,<a href="https://www.genesis-mining.com/">Genesis Mining</a>, <a href="https://hashflare.io/">HashFlare</a> и <a href="https://bitminer.io/">BitMiner</a>, заключают контракты с физическими лицам, а после оплаты услуг – дают им доступ к майнингу на <strong>своих</strong> облачных серверах. 
                    p Например, тарифные планы по добычи биткойна в <strong>Genesis Mining</strong> стартуют со 179 Долларов и гарантируют хэш рейт, равный 1000Gh/s. Самый дорогой пакет – 3975 Долларов США с доступным хэш рейтом 25000 Gh/s.
                    p Указанные суммы платятся один раз и позволяют пользоваться вычислительными мощностями в течение указанного в контракте времени (от года до нескольких лет).
                    p У облачного майнинга много преимуществ:  
                    ul
                        li Отсутствие необходимости в сборке, настройке, хранении и охлаждении майнинг-системы (всем этим занимается mining-компания); 
                        li Высокая мощность, которую обеспечивают дата-центры компаний;
                        li Отсутствие затрат на электроэнергию; 
                        li Высокая доходность при недорогой аренде оборудования (многие сервисы раньше позволяли удвоить вложенные деньги всего за 1 год). 
                    p Есть у cloud-mining и свои недостатки:
                    ul
                        li Риск нарваться на мошенников;    
                        li Вероятность приостановки работы облачной компании, а также заморозки средств на балансе.
                    p То есть в данном случае необходимо <strong>тщательно</strong> выбирать компанию, с которой решите заключить договор.
                    h2 
                        strong Перспективы Майнинга в России
                    p На протяжении последних 2 лет, добыча криптовалют в России развивалась достаточно <strong>быстрыми</strong> темпами. 
                    p По сравнению с другими странами, Россия обладает 2-мя большими <strong>преимуществами</strong> – холодным климатом и дешёвой стоимостью электричества. Также большую роль играло <strong>отсутствие</strong> налогов на майнинг.
                    p Однако к лету 2018 году в законодательстве РФ должен появиться <strong>налог</strong> на добычу криптовалют, что сделает майнинг менее рентабельным. Ожидается, что под действие нового закона попадут как компании, так и <strong>частные</strong> майнеры. 
                    p Специалисты рынка криптовалют России считают, что, рентабельность майнинг-бизнеса в России будет оставаться в <strong>положительной</strong> зоне. 
                    p Наибольшие расходы, с которыми сталкиваются майнеры в Россия, связаны с <strong>покупкой</strong> и обслуживанием мощностей. Очень важно следить за динамикой <strong>существующих</strong> криптовалют и не упускать возможностей, связанных с появлением <strong>новых</strong> крипто денег.

