extends layout

include mixins/_companyCard
include mixins/_paginationPages

block meta
  meta(charset="UTF-8")
  title= `Ремонт Асиков в Москве - Обзоры и Рейтинг Компаний | ${h.siteName}`
  meta(name="description" content="Где сделать ремонт майнеров, починить asic или отремонтировать майнинг ферму в Москве. Удобный поиск компаний на карте, адреса, отзывы и рейтинг.")
  link(rel="canonical" href="https://bittrust.ru/tags/remont-asikov")
  link(rel='stylesheet', href='/dist/style.css')
  link(rel="shortcut icon" type="image/png" href="/images/icons/btc.png")
  meta(name="viewport" content="width=device-width, initial-scale=1")

block content
  .inner
    .front-header
      h1 Ремонт Асиков в Москве
      p <strong>Ремонт</strong> асиков - все компании Москвы на карте с адресами, <strong>отзывами</strong> и рейтингом. 
      ul 
        li Хотите <strong>отремонтировать</strong> сломанный майнер у профессионалов – вам сюда! 
        li Упал hashrate или сгорел чип - проведите диагностику в <strong>надежной</strong> компании!
      p Оставьте свой <strong>отзыв</strong> о компании – и помогите ближнему.
    ul.tags
      li.tag
        a.tag__link(href="/tags/remont-asikov" class="tag__link--active" title="Ремонт Асиков")
          span.tag__text Ремонт Асиков
          span.tag__count= count
      li.tag
        a.tag__link(href="/tags/prodazha-oborudovaniya-dlya-majninga" class="tag__link--second")
          span.tag__text Продажа Оборудования для Майнинга
      li.tag
        a.tag__link(href="/tags/majning-otel" class="tag__link--last")
          span.tag__text Майнинг Отель

    .companies
      each company in companies
        +companyCard(company, tag)
    +paginationPages(page, pages, tagOriginal)

    .below-main-content
      h2 <span>Ремонт Майнеров</span>
      p Поиск компании, которая сможет провести <strong>качественный</strong> ремонт вашего асик майнера – непростая задача. На рынке работают <strong>сотни</strong> компаний и частников, которые рекламируют свои услуги по ремонту оборудования для майнинга. 
      p Есть <strong>2</strong> важные составляющие, на которые стоит обратить внимание при выборе сервиса:
      ul
        li Наличие грамотных инженеров
        li Наличие склада запасных частей
      p Технические специалисты, как правило, должны обладать <strong>серьезным</strong> опытом ремонта компьютерного оборудования. Большинство из них начинали свою карьеру, когда майнинг не был распространен. 
      p Наличие <strong>собственного</strong> склада значительно сокращает сроки ремонта, так как отпадает необходимость ожидания запасных частей.
      p Как правило, более надежные компании, предлагая услуги по ремонту майнеров, также предоставляют <strong>бесплатную</strong> диагностику и <strong>гарантию</strong> на проведенные работы.
      h2 <span>Ремонт Antminer S9</span>
      p Antminer S9 – одно из <strong>самых</strong> популярных решений для майнинга Биткойнов. Как и любое другое оборудование, S9 может выйти из строя из-за неправильной эксплуатации, перегрева, скачков электричества и др.
      p Что <strong>чаще всего</strong> приходится ремонтировать в Asic S9? Вот некоторые распространенные поломки:
      ul
        li Проблемы с запуском платы управления
        li Выгорание микросхем и чипов
        li Поломка цепи питания hash платы
        li Снижение хэшрейта
      p При выходе оборудования из строя, обращайтесь в <strong>надежную</strong> компанию, которая сможет оказать квалифицированную помощь!


 
