extends layout

include mixins/_companyCard
include mixins/_paginationPages

block meta
  meta(charset="UTF-8")
  title= `Майнинг Отель для Размещения Асиков в Москве - Список Компаний | ${h.siteName}`
  meta(name="description" content="Обзор майнинг дата центров и отелей для размещения асиков, ферм и майнеров в Москве. Рейтинг компаний, оценки пользователей, расположение на карте.")
  link(rel="canonical" href="https://bittrust.ru/tags/majning-otel")
  link(rel='stylesheet', href='/dist/style.css')
  link(rel="shortcut icon" type="image/png" href="/images/icons/btc.png")
  meta(name="viewport" content="width=device-width, initial-scale=1")

block content
  .inner
    .front-header
      h1 Майнинг Отель в Москве
      p <strong>Майнинг</strong> отели - все компании Москвы на карте с отзывами и рейтингом! 
      ul
        li Хотите найти <strong>помещение</strong> под майнинг? 
        li Хотите вывести <strong>шумные</strong> асики из дома в профессиональный майнинг отель? 
      p Наши обзоры помогут найти <strong>надежную</strong> компанию!
    ul.tags
      li.tag
        a.tag__link(href="/tags/majning-otel" class="tag__link--active" title="Майнинг Отель")
          span.tag__text Майнинг Отели
          span.tag__count= count
      li.tag
        a.tag__link(href="/tags/prodazha-oborudovaniya-dlya-majninga" class="tag__link--last")
          span.tag__text Продажа Оборудования для Майнинга
      li.tag
        a.tag__link(href="/tags/remont-asikov" class="tag__link--second")
          span.tag__text Ремонт Асиков

    .companies
      each company in companies
        +companyCard(company, tag)
    +paginationPages(page, pages, tagOriginal)

    .below-main-content
      h2 <span>Что Такое Майнинг Отель?</span>
      p За последние годы популярность криптовалют приобрела <strong>мировые</strong> масштабы. Сегодня огромное количество людей вовлечено в домашний майнинг. 
      p На начальном этапе данный феномен привел к <strong>ажиотажному</strong> спросу на видеокарты. Позже многие майнеры столкнулись с несовершенством <strong>жилой</strong> инфраструктуры для добычи криптовалют:
      ul
        li Высокая нагрузка на электропроводку в квартире приводит к перебоям во всем доме
        li Отсутствие вентиляции приводит к быстрому износу и поломкам оборудования
        li Высокий уровень шума мешает членам семьи майнера, а также соседям.
      p Так на рынке появились <strong>майнинг отели</strong> – специализированные площадки где можно разместить оборудование для майнинга с <strong>помесячной</strong> абонентской платой. Развитие рынка майниг отелей привело к появлению более технически продвинутых площадок. 
      p Это по сути настоящие <strong>ЦОДы</strong> (центр обработки данных), которые хорошо охраняются и буквально напичканны современными технологиями.


 
