.front-header {
  background: #fff;
  padding: 2rem 2rem 2rem;
  margin: 2rem 0;
    &__container {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      h1 {
        font-weight: 400;
      }
    }

  p {
    margin-top: 0;
    line-height: 1.6;
  }

}

.newcompanies {
  width: 100%;
  text-align: left;
  padding: 10px 0px;
  color: #fff;
  background: #333;
  border-left: 50px solid #ffc600;
  font-weight: normal;
  span {
    margin-left: 10px;
    font-weight: normal;
  }
}
.disclosure {
  border-left: 2px solid #FFC40E;
}

.strong-rub {
  border-bottom: 1px solid #FFC40E;
}

@media all and (max-width: 520px) {
  .front-header__container {
    h1{
      font-size: 2.5rem;
    }
  }
}

@media all and (max-width: 640px) {
  .front-header__container {
    width: 100%;
  }
}
